/* Noto Sans JP (400) */
body {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
 
   
}
img{
 
}
/* 共通 */
.inner{
    padding: 0 40px ;

}
/* header */
.header {
  border-bottom: solid 1px #000000;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
}

.header__inner{

}
.header__logo{
    padding: 12px;
    
    
}
.header__nav{
    margin-top: 10px;
  

}
.header__list{
    display: flex;
    justify-content: center;
    gap: 16px;
}
.header__item{

}
.header_link{
    color: #ffff;

}
/* fv */
/* About */
.About{
    padding: 40px 0;
    background-color:#f1eee4 ;

}
.About_inner{

}
.section_heading{
   
    text-align: center;

}
.section-heading_main{
     display: block;
     font-size: 40px;
    

}
.section-heading_sub{
    font-size: 12px;
    display: block;

}
.About_text{

}
.About_body{
    display: flex;
    flex-direction: column;
    gap: 40px;

}
.About_img{
    margin-top: 40px;

}
.About_contens{
    margin-top: 20px;

}
.About_contens-title{
    font-size: 14px;
    line-height: 2;

}
.About_contens-text {
    margin-top: 16px;
       line-height: 2;
   


}
/* Menu */
.Menu{
    padding:  40px 0;
    background-color: #f1eee4;

}
.Menu_nav{

}
.Menu_nav-list{

}
.Menu_nav-item{

}
.Menu_item-contens{
    text-align: center;

}
.Menu_item-title{

}
.Menu_img{
    margin-top: 40px;

}
.Menu_item-sub{
     color:#f1eee4 ;

}
.Menu_item-text{
    color:#f1eee4 ;

}
