/* Noto Sans JP (400) */
body {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
 
   
}
img{
 
}
/* 共通 */
.inner{
    padding: 0 40px ;

}
/* header */
.header {
  border-bottom: solid 1px #f1eeef;
  padding: 12px ;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
}

.header__inner{

}
.header__logo{
    padding: 12px;
    
    
}
.header__nav{
    margin-top: 10px;
  

}
.header__list{
    display: flex;
    justify-content: center;
    gap: 16px;
}
.header__item{

}
.header_link{
    color: #ffff;

}
/* fv */
/* About */
.About{
    padding: 40px 0;
    background-color:#f1eee4 ;

}
.About_inner{

}
.section_heading{
   
    text-align: center;

}
.section-heading_main{
     display: block;
     font-size: 40px;
    

}
.section-heading_sub{
    font-size: 12px;
    display: block;

}
.About_text{

}
.About_body{
    display: flex;
    flex-direction: column;
    gap: 40px;

}
.About_img{
    margin-top: 40px;

}
.About_contens{
    margin-top: 20px;

}
.About_contens-title{
    font-size: 14px;
    line-height: 2;

}
.About_contens-text {
    margin-top: 16px;
       line-height: 2;
   


}
/* Menu */
.Menu{
    padding:  80px 0;
    background-color: #f1eee4;

}
.Menu_nav{

}
.Menu_nav-list{

}
.Menu_nav-item{

}
.Menu_item-contens{
    text-align: center;

}
.Menu_item-title{
    margin-top: 16px;

}
.Menu_img{
    margin-top: 40px;

}
.Menu_item-sub{
    margin-top: 8px;
    color: #a98c5f;
    font-size: 12px;
    

}
.Menu_item-text{
     color: #a98c5f;
     margin-top: 16px;
     font-size: 14px;
   
}
/* shop */
.shop{
    padding: 80px 0;
    background-image:url(../img/sp/bg-shop.png) ;
    background-position: center center;
    background-size: cover;

}
.shop_inner{
    padding: 0 20px;

}
.shop_heading{
    text-align: center;
    color: #ffff;
}
.shop_contens{
    text-align: center;
    color: #ffff;

}
.shop_text{
    margin-top: 10px;
    font-size: 14px;
    line-height: 2;

}
.form{
    margin-top: 40px;

}
.form_input{
    width: 100%;
    border-radius: 4px;
     background-color:rgba(255,2555,255,0.7) ;
     border: none;
     padding: 14px;

}

.form_submit{
    display: block;
    margin:10px  auto 0;
    width: 120px;
    padding: 12px;
         border: none;
    border-radius: 4px;
    background-color:rgba(255,2555,255,0.7) ;
    background-color: #a98c5f;
    color: #ffff;

}
/* fooetr */
.footer{
    padding-top: 46px;
    background-color:#3c301e ;
     text-align: center;
     color: #ffff;

}
.footer_logo{
   

}
.footer_text{
    font-size: 12px;
    margin-top: 12px;

}
.footer_list{
    padding: 0 20px ;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 24px;

}
.footer_item{

}
.footer_link{

}
.sns_img{
    width: 56px;

}
.footer_copyright{
    padding: 12px;
    margin-top: 46px;
   border-top: solid 1px #f1eee4;

}
.footer_copyright-text{
    color: #ffff;
    font-size: 12px;

}